@charset "utf-8";

@font-face {
    font-family: 'NanumSquareNeo';
    src: url('/fonts/NanumSquareNeo-Variable.woff2') format('woff2');
    font-style: normal;
}
body {font-family:'NanumSquareNeo', sans-serif;}
* {box-sizing:border-box;}
/*body {background: #c4c4c4;}*/
body::-webkit-scrollbar {display:none;}
a {text-decoration:none; font-family: "NanumSquare Neo";}
body {background: #f4f6f8;}

#cvsfind {position:fixed; width:100%; height:114px; top:0; box-shadow: 0 0 4px rgba(0, 0, 0, 0.3); background:#fff; z-index: 9999;}
#top {width:100%; height:60px; margin:54px auto 0;}
#top h1 {font-size: 17px; line-height:22px; font-weight:700; width:85px; height:22px; margin: 0 auto;}
#top img {width:22px; height:22px;}
#top .left {position:relative; left:25px; top:26px;}

#locate {width:393px; height:36px; margin:144px auto 30px;}
#search {width:393px; height:36px; margin: 0 auto;}
.place {width:343px; height:36px; margin:144px auto 30px;}
.place .location {position:absolute; width:343px; height: 36px; border-radius: 18px; background-color:#fff; border:1.5px solid #007DEF; line-height:36px; text-align:left; padding-left:20px; font-size:13px; font-weight:500; color: #c4c4c4;}
.place .plcs {width:24px; height:24px; position:relative; top:6px; left:298px;}

.background {width:100%; height: 622px; border-radius: 17px 17px 0 0; background:#fff; margin:20px auto 0;}
#map {width:343px; height: 508px; margin:0 auto 25px; }
.sinchon {width:343px; height:508px; margin:30px auto 25px; border-radius:12px; box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);}
#map .minus {width:40px; height:40px; position:relative; left:10px; top:-80px; z-index:9999;}
#map .plus {width:40px; height:40px; position:relative; left:10px; top:-80px; z-index: 9999;}

#caution {width:343px; height:17px; margin:60px auto 0;}
.check {font-size: 13px; line-height:17px; font-weight:500; color:#007DEF;}