@charset "utf-8";


* {box-sizing:border-box; font-family: "NanumSquare Neo";}
a {text-decoration:none; font-family: "NanumSquare Neo";}
body {position:fixed; background:url(../mobileimg/deviceBG.png) no-repeat; background-size:cover; font-family: 'NanumSquareNeo', sans-serif;} /*desktop*/
/* body {position:fixed; background: url(../mobileimg/deviceBG.png) no-repeat; background-size: 1525px 860px;} mac*/



#introbg {width:100%; height:100%; transition:0.5s; z-index:-9999px;}
/* #introbg {width:1525px; height:860px; transition:0.5s; z-index:-9999px;} mac */
#introbg.up{ transform: translate3d(0, -100%, 0) scale(1); opacity: 1;}     
/* #introbg img {width:1525px; height:860px;} mac */
#introbg img {width: 100%; height:100%;}
/* #introbg .next {width:122px; height:56px; font-size:24px; line-height:56px; text-align:center; color:#007def; background-color:#fff; position:absolute; top: 259px; left: 700px; border-radius:30px; font-weight:700; display:none;} mac */
#introbg .next {width:122px; height:56px; font-size:24px; line-height:56px; text-align:center; color:#007def; background-color:#fff; position:absolute; top: 289px; left: 894px; border-radius:30px; font-weight:700; display:none;} 
#introbg .next:hover {cursor: pointer; background-color: #FFB200; color:#fff;}

#device {width:100%; height:auto; position: relative; left:51.7%;}
#device::-webkit-scrollbar {display:none;}

#comment {position:absolute; top:50px; right:60px; color:#fff; opacity:0.4; font-size:18px; font-weight:600; line-height:26px; }

.box {width:70%; padding-top:1.5rem; margin-left:auto; margin-right:auto;}
.box h2, h3 {margin: 0.5rem 0;}
.text {line-height:2rem;}

/*.phone {width:392px; height:763px; position:absolute; right:0; top:2rem; padding: 0.4rem; background: #000; border:3px solid #444548; border-radius:60px; box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);}*/ /* desktop*/ 
.phone {width:412px; height:803px; position:absolute; left:-240px; top:0; padding: 0.4rem; background: #000; border:3px solid #444548; border-radius:60px; box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);  }
/* .phone.up{ transform: translate3d(0, -107%, 0) scale(1); opacity: 1; transition:1.3s; } mac */
.phone.up{ transform: translate3d(0, -116%, 0) scale(1); opacity: 1; transition:1.3s; top:-20px}
.phone::before, .phone::after {content:""; position:absolute; z-index:2;}

.phone:before {width:30%; height:35px; top:25px; left:50%; transform: translateX(-50%); border-radius:20px; background:#000;}
.phone::after {width:20px; height:20px; top:33px; left:60%; transform: translateX(-50%); border-radius:20px; background: rgba(61, 58, 72, 0.6);}

.phone iframe {width:393px; height:784px; border-radius:50px; background:#fff;}
iframe::-webkit-scrollbar {display: none;}
.phone .circle {width:12px; height:12px; position:absolute; top:37px; left:60%; transform:translateX(-50%); border-radius:14px; background:rgba(255, 255, 255, 0.1); z-index:10;} 
/* mac 기준 */

/*  #buttons {position: absolute; right:165px; top:620px; display:none;}
#buttons .btn {width:200px; height:46px; background-color:#fff; color:#007def; font-size:20px; line-height:46px; text-align:center; border-radius:12px; font-weight:700; letter-spacing:1px; margin-bottom: 15px;}
#buttons .btn:hover {background-color: #FFB200; color:#fff; cursor: pointer;} mac */

#buttons {position: absolute; right:265px; top:770px; display:none;}
#buttons .btn {width:200px; height:46px; background-color:#fff; color:#007def; font-size:20px; line-height:46px; text-align:center; border-radius:12px; font-weight:700; letter-spacing:1px; margin-bottom: 15px;}
#buttons #wf {position:relative; left: -55px;}
#buttons #pl {position:relative; left: -95px;}
#buttons #op {position:relative; left: -145px;}
#buttons .btn:hover {background-color: #FFB200; color:#fff; cursor: pointer;} /* desktop */
