@charset "utf-8";

@font-face {
    font-family: 'NanumSquareNeo';
    src: url('/fonts/NanumSquareNeo-Variable.woff2') format('woff2');
    font-style: normal;
}
body {font-family:'NanumSquareNeo', sans-serif;}
* {box-sizing:border-box;}
body::-webkit-scrollbar {display:none;}
/*body {background: #c4c4c4;}*/
a {text-decoration:none;}

#notice {position:fixed; width:100%; height:114px; top:0; box-shadow: 0 0 4px rgba(0, 0, 0, 0.3); background:#fff; z-index: 9999;}
#top {width:100%; height:60px; margin:54px auto 0;}
#top h1 {font-size: 17px; line-height:22px; font-weight:700; width:37px; height:22px; margin: 0 auto;}
#top img {width:22px; height:22px;}
#top .left {position:relative; left:25px; top:26px;}

#faqtop {width:343px; height:22px; line-height:22px; color:#007def; font-size:17px; font-weight:700; margin:144px auto 0;}

#topfive {width:393px; margin:10px auto 50px;}
.faqbox {width:343px; height:60px; border-bottom: 1px solid #007def;  margin:0 auto; padding-left:10px; padding-right:10px; display:flex; justify-content: space-between; align-items:center;}
.faqbox .title {width:225px; white-space:nowrap; overflow:hidden; text-overflow: ellipsis; font-size:12px; line-height:20px; font-weight:500;}
.faqbox .down {width:23px; height:23px;}

#search {width:343px; height: 36px; margin:30px auto 20px; text-align: center;}
.searchword {width:343px; height:36px; background:white; border:1px solid #007def; border-radius:18px; padding-left: 20px; font-size:13px; line-height:36px; font-weight: 500; color: #4c4c4c; }

#questcate {width:343px; height:26px; margin: 0 auto 20px; overflow-x:scroll;}
#catewrap {width:685px; height:26px; display:flex; gap:10px;}
#catewrap .cateon {width:55px; height:26px; line-height:26px; text-align:center; color:#fff; background-color: #007def; border-radius:13px; font-size:11px; font-weight:500;}
#catewrap .cate {width:80px; height:26px; line-height:26px; text-align: center; color:#007def; border:1px solid #007def; border-radius:13px; font-size:11px; font-weight:500;}

#questions {width:393px; margin:0 auto;}
.questbox {width:343px; height:60px; border-bottom:1px solid #c4c4c4; background: #fff; margin-bottom: 5px; margin:0 auto; display:flex; justify-content:space-between; align-items:center; padding:0 10px 0 10px}
.questbox .qw {display:flex; flex-direction: column; gap:7px;}
.qw .sq {font-size:9px; font-weight:500; color:#FFB200;}
.qw .ct {font-size:12px; font-weight:500; color:#000; width:225px; white-space:nowrap; overflow:hidden; text-overflow: ellipsis;}
.questbox .down {width:23px; height:23px;}


.notbox .title {font-size:15px; line-height:20px; font-weight:500; position:relative; left:10px; top: 18px; width:225px; height:20px; padding-right:20px; text-overflow:ellipsis;  white-space:nowrap;} 
.notbox .date {font-size:11px; line-height:13px; font-weight:400; color:#c4c4c4; position:relative; left:10px; top: 30px;}
.notbox .right {width:23px; height:23px; position:relative; left:305px; bottom: 6px;}

#moresee {width:343px; height:16px; margin: 20px auto 50px;}
.more {display: flex; justify-content: center;} 
.more li {font-size:12px; line-height:16px; font-weight:500; color:#c4c4c4; margin-right: 5px;}
.more li:nth-child(2) {margin-right:0;}
.more li img {width:9px; height:8px;}
