@charset "utf-8";
@font-face {
    font-family: 'NanumSquareNeo';
    src: url('/fonts/NanumSquareNeo-Variable.woff2') format('woff2');
    font-style: normal;
}
body {font-family:'NanumSquareNeo', sans-serif;}
* {box-sizing:border-box;}
body::-webkit-scrollbar {display:none;}
/*body {background: #c4c4c4;}*/
a {text-decoration:none;}

#event {position:fixed; width:100%; height:164px; top:0; background:#fff; z-index: 9999; box-shadow: 0 0 4px rgba(0, 0, 0, 0.3)}
#top {width:100%; height:60px; margin:54px auto 0;}
#top h1 {font-size: 17px; line-height:22px; font-weight:700; width:49px; height:22px; margin: 0 auto;}
#top img {width:22px; height:22px;}
#top .left {position:relative; left:25px; top:26px;}

#ing {position:fixed; width:100%; height:50px; background:#fff;}
.choose {width: 100%; display:flex;}
.choose li {width:50%; text-align:center; font-size:15px; line-height:50px; font-weight:700; color: #c4c4c4;}
.choose .ch {color:#000;}
.choose .fin {color: #c4c4c4;}
.choose .fin:hover {color:#000;}
.line {width:50%; height:5px; background: #007def; position: relative; top:-5px}

#events {width:393px; margin:200px auto 0;}
#wrap {width:343px; margin:0 auto;}
.eventbox {width: 343px; height:123px; box-shadow: 0 0 4px rgba(0, 0, 0, 0.3); margin-bottom:20px; border-radius:12px;}
.eventbox .ep {width:100%; height:123px;}

#plus {width:393px; height:16px; margin:30px auto;}
#moresee {width:343px; height:16px; margin:0 auto;}
.more {display: flex; justify-content: center;} 
.more li {font-size:12px; line-height:16px; font-weight:500; color:#c4c4c4; margin-right: 5px;}
.more li:nth-child(2) {margin-right:0;}
.more li img {width:9px; height:8px;}
