@charset "utf-8";
@font-face {
    font-family: 'NanumSquareNeo';
    src: url('/fonts/NanumSquareNeo-Variable.woff2') format('woff2');
    font-style: normal;
}
body {font-family:'NanumSquareNeo', sans-serif;}

* {box-sizing:border-box;}
/*body {background: #c4c4c4;}*/
body::-webkit-scrollbar {display:none;}

#putinfo {position:fixed; width:100%; height:114px; top:0; box-shadow: 0 0 4px rgba(0, 0, 0, 0.3); z-index: 9999; background-color: #fff; }
#top {width:100%; height:60px; margin:54px auto 0;}
#top h1 {font-size: 17px; line-height:22px; font-weight:700; width:65px; height:22px; margin: 0 auto;}

#top img {width:22px; height:22px;}
#top .left {position:relative; left:25px; top:26px;}
#top .right {position:absolute; right:25px; bottom:19px; width:30px; height:7px;}
.right img {width:100%;}

form {width:393px; margin:135px auto 40px;}
.join {position:relative; margin:25px 25px; width:343px;}
.joinform {display:block; width:343px; height:40px; border:1px solid #007DEF; border-radius:12px; padding-left:20px; padding-right:60px; margin-top:10px; color:#4c4c4c; font-size:13px; line-height: 40px; text-overflow:ellipsis; white-space:nowrap;}
.join label {font-size:15px; line-height:20px; font-weight: 700;}
.caution {font-size:10px; line-height:13px; font-weight:500; color:#c4c4c4; margin-top: 5px;}
.search {width:24px; height:24px; position:absolute; right:20px; top:38px;}
.search img {width:100%;}

span {font-size:12px; color: #007DEF;}

.btn {width:343px; height:47px; border:none; border-radius: 12px; background-color: #007DEF; color:#fff;}
.btn:hover {background:#007DEF; cursor:pointer;}