@charset "utf-8";

@font-face {
    font-family: 'NanumSquareNeo';
    src: url('/fonts/NanumSquareNeo-Variable.woff2') format('woff2');
    font-style: normal;
}
* {box-sizing:border-box;}
body {background-color: #fdfdfd; font-family:'NanumSquareNeo', sans-serif;}
body::-webkit-scrollbar {display:none;}
a {text-decoration:none; font-family: "NanumSquare Neo";}

#top {background-color:#fff; width:100%; height:114px; top:0; position:fixed; box-shadow: 0 0 4px rgba(0, 0, 0, 0.3); z-index: 9999;}
#topmenu {width:393px; height:114px;}
#topmenu h1 {position:absolute; left:25px; bottom:6px;}
#topmenu h1 img {width:143px; height:32; left:25px; bottom:7px;}
#topmenu h2 {position:absolute; right: 110px; bottom:15px;}
#topmenu h2 a {display:block; width:31px; height:31px;}
#topmenu h2 img {width:31px; height:31px; position:absolute; bottom:0.5px;}
.logout {width:70px; height:32px; background-color:#007DEF; border-radius:8px; color:#fff; line-height:32px; text-align:center; font-size:13px; display:block; position:absolute; right:25px; bottom:15px;} 

#navbar {width:100%; height: 60px; position:fixed; bottom:0; left:0; right:0; z-index: 9999; background: #fff;}
.navmenu {width:98%; display:flex; margin:0 auto;}
.navmenu .home, .my, .reservation, .list, .extra {width:20%; text-align:center; padding-top:10px;}
.navmenu li img {width:21px; height:21px;}
.navmenu li .h {font-size: 11px; line-height:13px; color:#007DEF; font-weight:500; }
.navmenu li .m, .r, .l, .e {font-size:11px; line-height:13px; color:#c4c4c4; font-weight:500;}

#person {width:343px; height:211px; margin:0 auto 20px;}
#personal {background-color: #fff; width:343px; height:211px; margin: 145px auto 25px; border-radius: 12px; position:relative; box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);}
#personal p.present {position:relative; left:20px; top:20px; color:#000; font-size:16px; font-weight: 600; line-height:26px;}
#personal span {font-size:20px; font-weight: 900; color:#FF7D88;}
#personal p.primeclub {position:absolute; right:20px; top:20px; width:64px; height:21px; background-color:#000457; color:#F8F47E; border-radius:11px; font-size:10px; font-weight: 600; line-height:21px; text-align:center;} 
#grade {position: absolute; right: 18px; display: inline;}
#grade img {position:absolute; right:0; width:13px; height:12px; top:0;}
.class {position:relative; right: 12px; line-height:13px; font-size:10px; color:#7A7A7A;}
.coupon {background-color:#fff; width:90px; height:80px; border-radius:9px; position:absolute; left:20px; top: 88px; box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);}
.cp {font-size:10px; line-height:13px; font-weight:600; position: relative; top:9px; left:9px; color:#7A7A7A;}
.cn {font-size:22px; line-height:26px; font-weight:900; position:absolute; bottom:9px; left:9px; color:#000;}
.book {background-color:#fff; box-shadow: 0 0 2px rgba(0, 0, 0, 0.2); width:90px; height:80px; border-radius:9px; position:absolute; left:127px; top:88px;}
.bk {font-size:10px; line-height:13px; font-weight:600; position: relative; top:9px; left:9px; color:#7A7A7A;}
.bn {font-size:22px; line-height:26px; font-weight:900; position:absolute; bottom:9px; left:9px; color:#000;}
.deli {background-color:#fff; box-shadow: 0 0 2px rgba(0, 0, 0, 0.2); width:90px; height:80px; border-radius:9px; position:absolute; right:20px; top: 88px;}
.dl {font-size:10px; line-height:13px; font-weight:600; position: relative; top:9px; left:9px; color:#7A7A7A;}
.dn {font-size:22px; line-height:26px; font-weight:900; position:absolute; bottom:9px; left:9px; color:#000;}
#more {position: absolute; right: 18px; display: inline;}
#more img {position:absolute; right:0; width:13px; height:13px; top:130px;}
.more {position:relative; right: 12px; top:130px; line-height:13px; font-size:10px; color:#7A7A7A;}

#numsearch {width:343px; height:67px; margin:0 auto 30px;}
#search {width:343px; height:67px; margin:0 auto;}
#search .dlvsearch {font-size:16px; line-height:16px; font-weight:600;}
.putin {width:343px; height:36px; margin-top:15px;}
.putin .fill {width:343px; height: 36px; border-radius: 18px; background-color:#fff; border:1.5px solid #007DEF; line-height:36px; padding-left:20px; font-size:13px; font-weight:500; color: #4c4c4c;} 

#aboutbook {width:343px; height:218px; margin:0 auto;}
#booking {width: 343px; height: 218px; margin:0 auto; position: relative;} 
#dlvbook {width:201px; height:218px; position:absolute; top:0; background:linear-gradient(to right, #007DEF, #00d4e4); border-radius:15px; box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);}
p.title1 {position:absolute; left:25px; top:30px; font-weight: 600; line-height:26px; font-size:21px; color:#fff;}
p.message {position:absolute; left:25px; bottom:30px; font-weight:600; font-size:10px; line-height:13px; color:#fff;}
#dlvbook>img {width: 26px; height:26px; position:absolute; left:106px; top: 56px;} 
#qrcode {width:134px; height:103px; position:absolute; right:0; top:0; background-color:#fff; border-radius:12px; box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);}
p.title2 {position:absolute; top:13px; left:13px; font-weight:600; font-size:12px; line-height:16px; color:#000;}
#qrcode>img {width: 30px; height:30px; position:absolute; right:11px; bottom:11px;}
#cvs {width: 134px; height: 103px; position:absolute; right:0; top:115px; background-color: #fff; border-radius:12px; box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);}
p.title3 {position: absolute; top:13px; left:13px; font-weight:600; font-size:12px; line-height:16px; color:#000;}
#cvs>img {width:46px; height:15px; position:absolute; right:14px; bottom:14px;} 

#use {width:343px; height:186px; margin:40px auto 30px;}
#current {width: 343px; height:26px; margin:0 auto;}
#current h1 {font-size:21px; line-height: 26px; font-weight:700;}
#current .all {font-size:10px; line-height:22px; font-weight: 600; background:none; border:1.5px solid #007DEF; border-radius:13px; width:78px; height:26px; text-align: center; position: relative; top:-26px; left:262px;} 
#current .alladd {color:#007DEF; width:78px; height:26px; background:none;}
#current .alladd:hover {display:block; width:76px; height:24px; background:#007DEF; border-radius:11px; color:#fff; }

#booknumber {width:343px; height:130px; margin:0 auto; position: relative; background-color: #fff; border-radius: 10px; top:30px; box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);}
.number {position:absolute; left:15px; top:15px; font-size:12px; font-weight:600; line-height:16px; color: rgba(76, 76, 76, 0.6);}
.number span {color:#ffb200;} 
.date {position:absolute; right:15px; top: 15px; font-size:12px; font-weight:600; line-height:16px; color: rgba(76, 76, 76, 0.6); }
.half {position:absolute; left:15px; top:54px; background:none; border:1.5px solid #00d4e4; text-align:center; font-size:10px; font-weight:600; line-height:13px; padding-top:3px; width:50px; height:23px; border-radius: 15px; color:#00d4e4;}
.birth {position:absolute; left:80px; top: 54px; font-size:17px; font-weight:600; line-height:22px; color: #000;} 
.complete {position:absolute; right:15px; top:54px; font-size:15px; font-weight:600; line-height:23px; color:#007DEF;}
.name {position:absolute; left: 15px; bottom:15px; font-size:12px; line-height:16px; font-weight:500; color: rgba(76, 76, 76, 0.6);}
.wait {position:absolute; right:15px; bottom:15px; font-size:12px; line-height:16px; font-weight:500; color: rgba(76, 76, 76, 0.6);}

#ad {width: 343px; height:240px; margin:0 auto; position: relative; overflow:hidden;} 
#ad1, #ad2 {position:absolute; width:300%; height:110px; overflow: hidden; transition: transform 1s ease-in-out;}
#ad1 {top: 0;}
#ad2 {top:120px;}
#ad1 li, #ad2 li {float: left; width: 33.33%;}
#ad1 img, #ad2 img {width:100%; height:110px; border-radius:15px;}

#customercenter {width:343px; height:390px; margin:50px auto 0;}
#customercenter h1 {font-size:21px; line-height:26px; font-weight:600; margin-bottom:15px;} 
#cj {position:relative; width:343px; height:159px; background-color:#fff; border-radius:12px; box-shadow: 0 0 6px rgba(0, 0, 0, 0.2); margin-bottom:25px;}
.cjcustom {font-size:17px; line-height:22px; font-weight:600; position:absolute; left:20px; top:20px;} 
.problem {font-size:10px; line-height:13px; font-weight:500; position: absolute; right:20px; top:20px; color: #ffb200;}
.time1 {font-size:10px; line-height:13px; font-weight:500; position: absolute; right:20px; text-align:right; top:45px;} 
.time1 span {color:#A7E6FF;}
.cjtel {font-size:21px; line-height:26px; font-weight:600; position:absolute; left:20px; bottom:20px; color: #007DEF;}
.cjapp {position:absolute; font-size:10px; line-height:13px; width:87px; padding-top:7px; height:29px; text-align: center; color: #007DEF; border: 1px solid #007DEF; border-radius: 7px; font-weight: 600; right: 20px; bottom:20px;} 
.cjapp:hover {background-color: #007DEF; color:#fff;}

#pickup {position:absolute; width:343px; height:159px; background-color:#fff; border-radius:12px; box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);}
.pickcustom {font-size:17px; line-height:22px; font-weight:600; position:absolute; left:20px; top:20px;}
.halfpick {font-size:10px; line-height:13px; font-weight:500; position: absolute; right:20px; top:20px; color: #ffb200;}
.time2 {font-size:10px; line-height:13px; font-weight:500; position: absolute; right:20px; text-align:right; top:45px;}
.time2 span {color:#A7E6FF;}
.picktel {font-size:21px; line-height:26px; font-weight:600; position:absolute; left:20px; bottom:20px; color: #007DEF;}
.online {position:absolute; font-size:10px; line-height:13px; width:87px; padding-top:7px; height:29px; text-align: center; color: #007DEF; border: 1px solid #007DEF; border-radius: 7px; font-weight: 600; right: 20px; bottom:20px;}
.online:hover {background-color: #007DEF; color:#fff;}

#footer {width:100%; height:363px; margin:40px auto; position: relative; background-color:#00305C; padding:25px 25px;}
#fmenu {width:343px; font-size:10px; line-height:13px;}
#fmenu ul {display:flex; justify-content: space-between;}
#footer li a {color: #fff;}
#footer li {float: left; padding-right: 10px; color: #fff;}
#footer li:last-child {padding-right:0;}
a.pr {font-weight:bold;} 
h2 {font-size: 13px; line-height:17px; color: #fff; position:absolute; top:70px;} 

.info {width:343px; position:absolute; top: 120px; font-size:10px; line-height:13px;}
.captin {color: #fff;}
.copy {color: #fff; position: absolute; top:120px;}
.sns {position: absolute; top:160px;}
.sns li {float: left; margin-right:20px;}
.sns li img {width:30px; height:30px;}
