@charset "utf-8";

@font-face {
    font-family: 'NanumSquareNeo';
    src: url('/fonts/NanumSquareNeo-Variable.woff2') format('woff2');
    font-style: normal;
}
body {font-family:'NanumSquareNeo', sans-serif;}
* {box-sizing:border-box;}
body::-webkit-scrollbar {display:none;}
/*body {background: #c4c4c4;}*/
a {text-decoration:none; font-family: "NanumSquare Neo";}

#notice {position:fixed; width:100%; height:114px; top:0; box-shadow: 0 0 4px rgba(0, 0, 0, 0.3); background:#fff; z-index: 9999;}
#top {width:100%; height:60px; margin:54px auto 0;}
#top h1 {font-size: 17px; line-height:22px; font-weight:700; width:65px; height:22px; margin: 0 auto;}
#top img {width:22px; height:22px;}
#top .left {position:relative; left:25px; top:26px;}

#search {width:343px; height: 36px; margin:144px auto 30px; text-align: center;}
.searchword {width:343px; height:36px; background:white; border:2px solid #007def; border-radius:18px; padding-left: 20px; font-size:13px; line-height:36px; font-weight: 500; color: #4c4c4c; }

#notices {width:393px; margin:40px auto 0;}
.notbox {width:343px; height:80px; border-bottom:1px solid #c4c4c4; background: #fff; margin-bottom: 5px; margin:0 auto;}
.notbox .title {font-size:15px; line-height:20px; font-weight:500; position:relative; left:10px; top: 18px; width:225px; height:20px; padding-right:20px; text-overflow:ellipsis;  white-space:nowrap;} 
.notbox .date {font-size:11px; line-height:13px; font-weight:400; color:#c4c4c4; position:relative; left:10px; top: 30px;}
.notbox .right {width:23px; height:23px; position:relative; left:305px; bottom: 6px;}

#moresee {width:343px; height:16px; margin: 20px auto 50px;}
.more {display: flex; justify-content: center;} 
.more li {font-size:12px; line-height:16px; font-weight:500; color:#c4c4c4; margin-right: 5px;}
.more li:nth-child(2) {margin-right:0;}
.more li img {width:9px; height:8px;}
