@charset "utf-8";
@font-face {
    font-family: 'NanumSquareNeo';
    src: url('/fonts/NanumSquareNeo-Variable.woff2') format('woff2');
    font-style: normal;
}
body {font-family:'NanumSquareNeo', sans-serif;}
* {box-sizing:border-box;}
/*body {background: #c4c4c4;}*/
body::-webkit-scrollbar {display:none;}
a {text-decoration:none;}

#online {position:fixed; width:100%; height:114px; top:0; box-shadow: 0 0 4px rgba(0, 0, 0, 0.3); background:#fff; z-index: 9999;}
#top {width:100%; height:60px; margin:54px auto 0;}
#top h1 {font-size: 17px; line-height:22px; font-weight:700; width:112px; height:22px; margin: 0 auto;}
#top img {width:22px; height:22px;}
#top .left {position:relative; left:25px; top:26px;}

#due {width:393px; height:40px; margin:0 auto 30px; }
#duration {width:343px; height:40px; margin:144px auto 30px; display: flex; justify-content: space-between;}
#weeks {width:288px; height:40px; background:rgba(196, 196, 196, 0.25); color:#4c4c4c; border-radius:20px; display:flex;}
#weeks .fourteen {width:144px; height:40px; background: #007def; color:#fff; font-size:15px; line-height:40px; font-weight:500; border-right:1px solid #007def; border-radius:20px; text-align:center; position: relative;}
#weeks>a {width:144px; height:40px; color:#4c4c4c; font-size:15px; line-height:40px; font-weight:500; border-radius:20px; text-align: center; position: relative;}

#cal {width:40px; height:40px;}
input[type="date"] {-webkit-appearance:none; appearance:none; position:relative; top:-1px; left:-1px; width:40px; height:40px; font-size:14px; color:transparent; border-radius:9px; border:1px solid #c4c4c4;}
input[type="date"]::-webkit-calendar-picker-indicator {position:absolute; top:0; left:0; right:0; bottom:0; width:auto; height:auto; color:transparent; background:url(../mobileimg/calendar.png) no-repeat 7px; background-size:24px;}

#title {width:343px; height:229px; margin: 0 auto 40px;}
#search {width:343px; height:36px; margin:0 auto 40px;}
#search .searchtitle {width:343px; height:36px; background:#fff; border:1px solid #007def; border-radius:18px; font-size:13px; line-height:36px; font-weight:500; color:#4c4c4c; padding-left:20px;}
.caution {width:69px; height:69px; position:relative; left:150px; margin-bottom:40px;}
#title h2 {font-size:17px; line-height:22px; font-weight: 500; text-align:center; color:#000;}
#title span {color:#007def;}

#hline {width:393px; height:2px; margin:40px auto;}
#hline .line {width:343px; height:2px; background: #c4c4c4; margin:40px auto;}

#otherq {width:393px; height:334px; margin:0 auto;}
#wrap {width:343px; height:334px; margin:0 auto;}
#oneq {width:343px; height:157px; padding:20px; border:1px solid #c4c4c4; border-radius:9px; margin-bottom:20px;}
#oneq .oq {width:303px; height:117px; color:#4c4c4c; font-size:10px; line-height:13px; font-weight:500;}
#qrq {width:343px; height:157px; padding:20px; border:1px solid #c4c4c4; border-radius:9px;}
#qrq .qq {width:303px; height:117px; color:#4c4c4c; font-size:10px; line-height:13px; font-weight:500;}
.blue, .blue>a{color:#007def; text-decoration:underline;}
.orange {color:#FFB200;}

#btn {width:393px; height:47px; margin:50px auto; text-align: center;}
.csbtn {width:343px; height:47px; margin:0 auto; background: #007def; color:#fff; border-radius:12px; border:none;}
.csbtn:hover {cursor: pointer;}