*, *::after, *::before {box-sizing: border-box;} 
html {margin:0; padding:0;}
body {min-width:1450px;}
a {text-decoration: none;}

#screen {width:100%; height:100%;}
#screen .as {width:100%; height:auto;}