@charset "utf-8";

@font-face {
    font-family: 'NanumSquareNeo';
    src: url('/fonts/NanumSquareNeo-Variable.woff2') format('woff2');
    font-style: normal;
}
body {font-family:'NanumSquareNeo', sans-serif;}
* {box-sizing:border-box;}
body::-webkit-scrollbar {display:none;}
/*body {background: #c4c4c4;}*/
a {text-decoration:none;}

#postinfo {position:fixed; width:100%; height:114px; top:0; box-shadow: 0 0 4px rgba(0, 0, 0, 0.3); background:#fff; z-index: 9999;}
#top {width:100%; height:60px; margin:54px auto 0;}
#top h1 {font-size: 17px; line-height:22px; font-weight:700; width:101px; height:22px; margin: 0 auto;}
#top img {width:22px; height:22px;}
#top .left {position:relative; left:25px; top:26px;}

#in {width:343px; height:26px; margin:144px auto 30px;}
#fo {width:323px; height:26px; margin:0 auto;}
#fo h2 {width:80px; height:26px; font-size:21px; line-height:26px; font-weight:700;}

#select {width:343px; height:92px; margin:0 auto 20px;}
#postselect {width:323px; height:82px; margin:0 auto;}
#postselect h3 {font-size:15px; line-height:20px; font-weight:500; color:#000;margin-bottom:10px;}
#postselect a {width:20px; height:20px; position: relative; top:-30px; left:151px;}
#postselect img {width:20px; height:20px;}
#postselect select {-webkit-appearance:none; appearance: none; width:323px; height:52px; border:1px solid #007def; border-radius:9px; text-align: center; font-size:15px; line-height:52px; font-weight:500; color:#000; margin-top:-14px; cursor: pointer;} 

#price {width:343px; height:142px; margin:0 auto 20px;}
#inputprice {width:323px; height:82px; margin: 0 auto;}
#inputprice h4 {font-size:15px; line-height:20px; font-weight:500; color:#000; margin-bottom:10px;}
#inputprice .pr {width:323px; height:52px; border:1px solid #007def; border-radius:9px; font-size:15px; line-height:52px; font-weight:500; color:#007def; margin-top:10px; padding-left:20px;}
#inputprice .unit {width:42px; height:20px; text-align: center; font-size:15px; line-height:20px; font-weight:600; color:#000; position: relative; top: -36px; left: 261px;} 
#inputprice .prices {width:323px; height:30px; display: flex;}
#inputprice .p1 {font-size:12px; line-height:30px; width:60px; height:30px; background: rgba(196, 196, 196, 0.4); border-radius:7px; margin-right:11px; color:#007def; text-align:center;}
#inputprice .np1 {font-size:12px; line-height:30px; width:60px; height:30px; background: rgba(196, 196, 196, 0.4); border-radius:7px;margin-right:0; color: #007def; text-align:center;}

#rename {width:343px; height:82px; margin:0 auto 25px;}
#naming {width:323px; height:82px; margin:0 auto;}
#naming h5 {font-size:15px; line-height:20px; font-weight:500; color:#000;}
#naming .pr {width:323px; height:52px; border:1px solid #007def; border-radius:9px; font-size:15px; line-height:52px; font-weight:500; color:#000; margin-top:10px; padding-left:20px;}

#cautiontxt {width:343px; height:125px; margin:0 auto 15px;}
#caution {width:323px; height:125px; margin:0 auto 20px;}
#caution .p2 {font-size:11px; line-height:15px; font-weight:500; color: #c4c4c4;}

#selbtn {width:343px; height:47px; margin:25px auto; text-align:center;}
button {width:343px; height:47px; background:#007def;  opacity:0.4; color:#fff; font-size:13px; line-height:47px; font-weight:600; text-align:center; border:none; border-radius:12px; cursor: pointer;}
